---
layout: default
---        

        <h1 class="index">{{ site.tagline }}</h1>
        
        <!--Búsqueda-->
        <a href="buscar"><div class="search-index"><i class="fa fa-search" aria-hidden="true" class="search-index"></i></div></a>
        
                <!-- One random book -->
        <div class="row obras obra-suerte">
            <h2 class="index">{% if site.lang == "es" %}Obra del día{% else %}One book by chance{% endif %}</h2>
        </div>
        
        {% include obra-dia.html %}
        
        <div class="row obras">
        <h2 class="index">Listas dinámicas por:</h2>
        </div>
        {% include criterios.html %}
       
        <!-- Presentación del proyecto -->
        {% include project-presentation.html %}


        <!--Español-->
        <div class="row obras">
            <h2 class="index">{% if site.lang == "es" %}Algunos libros en español{% else %}Some books in Spanish{% endif %}</h2>
        </div>
        {% include book-list-es.html %}

        <!--Últimas siete traducciones registradas -->        
        <div class="row obras obra-suerte">
            <h2 class="index">{% if site.lang == "es" %}Algunas traducciones{% else %}Some book translations{% endif %}</h2>
        </div>
        {% include book-list-translations.html %}
       
        <!--Francés-->
        <div class="row obras">
            <h2 class="index">{% if site.lang == "es" %}Algunos libros en francés{% else %}Some books in French{% endif %}</h2>
        </div>
        {% include book-list-fr.html %}

        <!--Alemán-->
        <div class="row obras">
            <h2 class="index">{% if site.lang == "es" %}Algunos libros en alemán{% else %}Some books in German{% endif %}</h2>
        </div>
        {% include book-list-de.html %}