{% assign authors_array = img.Author | split: '; ' %}
{% assign author_array = authors_array[0] | split:', ' %}
{% assign author = author_array[0] %}
{% assign title_raw = book.Title | remove: "=" | remove: ":" | split: ' ' %}
{% include special_characters_obra-suerte.html %}


{% capture img-url %}
	{{site.BASE_PATH}}/assets/img/{{ title_raw[0] | slugify:"latin" }}{% if title_raw[1] %}-{{ title_raw[1] | slugify:"latin" }}{% endif %}{% if title_raw[2] %}-{{ title_raw[2] | slugify:"latin" }}{% endif %}{% if title_raw[3] %}-{{ title_raw[3] | slugify:"latin" }}{% endif %}-{{ author | slugify:"latin"}}-{{ book.Date }}-{{ book.Id | slugify:"latin" | downcase }}.jpg
{% endcapture %}
