{% assign authors_all = book_day.Author | split: '; ' %}
{% if site.lang == "es" %}
Escrito por 
  {% for author_raw in authors_all | limit: 3 %}
      {% assign author_firstlast = author_raw | split: ', ' %}
      <a href="{{site.BASE_PATH}}/authors/{{ author_firstlast[0] | slugify:'latin' }}-{{ author_firstlast[1] | slugify:'latin' }}" title="{{ author_firstlast | reverse | join: '' }}">{{ author_firstlast | reverse | join: " " }}</a>
      {% unless forloop.last == true %} + {% endunless %}
  {% endfor %}
    //
     Publicado{% if book_day.Place %} en <a href="{{site.BASE_PATH}}/cities/{{ book_day.Place | slugify:'latin' }}" title="{{ book_day.Place }}">{{ book_day.Place }}</a>{% endif %}{% if book_day.Publisher %}
     por <a href="{{site.BASE_PATH}}/publishers/{{ book_day.Publisher | slugify:'latin' }}" title="{{ book_day.Publihser }}">{{ book_day.Publisher }}</a>{% endif %}
      en {{ book_day.Date }}{% if book_day.Edition == book_day.Date %}. Primera edición{% elsif book_day.Edition != "" and book_day.Edition != nil %} // First published in {{ book_day.Edition }}{% endif %} {% if book_day.Archive != "" and book_day.Archive != nil  %}//
      Digitalizado por <a href="{{site.BASE_PATH}}/repositories/{{ book_day.Archive | slugify:'latin' }}" title="{{ book_day.Archive }}">{{ book_day.Archive }}</a>{% endif %}
  {% else %}
  Written by 
  {% for author_raw in authors_all | limit: 3 %}
      {% assign author_firstlast = author_raw | split: ', ' %}
      <a href="{{site.BASE_PATH}}/authors/{{ author_firstlast[0] | slugify:'latin' }}-{{ author_firstlast[1] | slugify:'latin' }}" title="{{ author_firstlast | reverse | join: '' }}">{{ author_firstlast | reverse | join: " " }}</a>
      {% unless forloop.last == true %} + {% endunless %}
  {% endfor %}
    //
     Published{% if book_day.Place %} in <a href="{{site.BASE_PATH}}/cities/{{ book_day.Place | slugify:'latin' }}" title="{{ book_day.Place }}">{{ book_day.Place }}</a>{% endif %}{% if book_day.Publisher %}
     by <a href="{{site.BASE_PATH}}/publishers/{{ book_day.Publisher | slugify:'latin' }}" title="{{ book_day.Publihser }}">{{ book_day.Publisher }}</a>{% endif %}
      in {{ book_day.Date }}{% if book_day.Edition == book_day.Date %}. First edtition{% elsif book_day.Edition != "" and book_day.Edition != nil %} // First published in {{ book_day.Edition }}{% endif %} {% if book_day.Archive != "" and book_day.Archive != nil  %}//
      Retrieved by <a href="{{site.BASE_PATH}}/repositories/{{ book_day.Archive | slugify:'latin' }}" title="{{ book_day.Archive }}">{{ book_day.Archive }}</a>{% endif %}
{% endif %}
