<input class="checker" type="checkbox" id="o" hidden>
<div class="modal">
    <div class="obra-dia sombra">
      <div class="ficha-container" style="">
        <div class="ficha-title">
          <h2>Estos materiales están en riesgo</h2>
        </div>
        <div class="ficha-extract" style="">
          <p class="morel">
            Google Books no permite la recuperación de nuestro patrimonio documental por lotes. La descarga y organización de los archivos (portada y pdf) debe hacerse uno por uno. 
          </p>
          <p> Aquí puedes descargar tu copia personal <a href=" {{ book.Download }}"><i class="fa fa fa-download" style="font-size: 1.5rem;" aria-hidden="true"></i></a> Pero también puedes contribuir a su preservación a largo plazo de varias formas:
            <ul>
              <li>
                <a href="https://www.zotero.org/groups/6350646/bibav/collections/XV92RCHB/items/{{ page.key }}">Agrega tu copia de estos archivos (portada y pdf) al ítem en la biblioteca de BibAV <i class="fa fa-pencil" style="font-size: 1.5rem;" aria-hidden="true"></i></a>.
                <ul>
                  <li>
                  Si aún no tienes permiso de edición, <a href="https://www.zotero.org/groups/6350646/bibav" class="morel">solicítalo aquí <i class="fa fa-sign-in" style="font-size: 1.5rem;" aria-hidden="true"></i></a>
                  </li>  
                </ul>
              </li>
              <li>
                <a href="/tienda" class="morel">Haz una donación o una compra para apoyar el respaldo y organización de estos materiales<i class="fa fa-shopping-cart" style="font-size: 1.8rem;" aria-hidden="true"></i></a>
              </li>
              <br>
              <li>
                <a class="morel a2a_dd" href="https://www.addtoany.com/share">Comparte este proyecto con tus amigos e invita a más personas a contribuir<i class="fa fa-share-alt" style="font-size: 1.8rem;"><script async src="https://static.addtoany.com/menu/page.js"></script>
                </i></a>
              </li>
              <br>
              <li>
                <label for="o" class="morel">Haz click aquí para volver a BibAV <i class="fa fa-window-close-o" style="font-size: 1.5rem;" aria-hidden="true"></i></label> 
              </li>
            </ul>
          </p>
        </div>
        <div class="ficha-metadata">
        </div>
      </div>
      <div class="portada" style="">
        <figure class="img-frame">
      {% for book in site.data.books %}
      {%  if book.Id == page.key %}
            {% assign lores_cover = book.Call_Number %}
            {% assign fullres_cover = lores_cover | replace: 'frontcover&img=1&zoom=1', 'frontcover&img=1&zoom=4' %}
            {% include book-list-url-img.html %}
                    <a href="{{ book.Download }}" target="_blank" download><img src="
                        {% if site.biba != true %}{{ img-url }}{% elsif img.Cover == '' or img.Cover == nil and book.Call_Number != '' %}{{ fullres_cover }}{% else %}{{ img-url }}{% endif %}" class="responsive" alt="{{ img.Title }}" style="background-color: {% include colors_list.html %}; background-image: {% include background.html %};"></a>
          <div class="actions-h">
            <a href=" {{ book.Download }}"><i class="fa fa fa-download" aria-hidden="true"></i></a>
            <a class="morel" href="{{ site.zot-item }}{{page.key}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a href="{{ BASE_PATH }}/tienda" class="morel"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            <label for="o" class="morel"><i class="fa fa-window-close-o"></i></label>
          </div>
      {% endif %}
      {% endfor %}
        </figure>
      </div>
      <div class="actions-v">
      {% for book in site.data.books %}
      {%  if book.Id == page.key %}
        <a href=" {{ book.Download }}" target="_blank"><i class="fa fa fa-download" style="font-size: 1.5rem;" aria-hidden="true"></i></a>
        <br>
        <br>
        <a class="morel" href="{{ site.zot-item }}{{page.key}}" target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <br>
        <br>
        <a href="{{ BASE_PATH }}/tienda" class="morel"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        <br>
        <br>
        <label for="o" class="morel"><i class="fa fa-window-close-o"></i></label>
      {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>