{% include time-selector.html %}
            {% if match_found == false %}
            {% assign main = site.data.books %}
            
            {% assign excluded_ids = site.data.posts | map: "Key" %}

            {% assign eligible = "" | split: "" %}

            {% for book in main %}
                {% unless excluded_ids contains book.Id %}
                        {% assign eligible = eligible | push: book %}
                {% endunless %}
            {% endfor %}

            {% assign book_day = eligible | sample %}

           <!-- {{ book_day.Title }} Obra no programada-->

            {% include book-sample-no-post.html %}
            {% endif %}