<figure class="img-frame">
    {% if site.biba != true %}
    <figcaption style="margin-top: 23%;">
        This is a placeholder.
    </figcaption>
    <figcaption style="margin-top: 34%;">
        Contribute the actual cover
    </figcaption>
    <figcaption style="margin-top: 42%;">
        by clicking + in the menu
    </figcaption>
    <figcaption style="margin-top: 50%;">
        or Z in the footer
    </figcaption>
    {% endif %}
   {% for book in site.data.books %}
   {%  if book.Id == page.key %}
        {% assign lores_cover = book.Call_Number %}
        {% assign fullres_cover = lores_cover | replace: 'frontcover&img=1&zoom=1', 'frontcover&img=1&zoom=4' %}
        {% include book-list-url-img.html %}
                    <a href="{{ book.Download }}" target="_blank" download><img src="
                        {% if site.biba != true %}{{ img-url }}{% elsif book.Cover == '' or book.Cover == nil and book.Call_Number != '' %}{{ fullres_cover }}{% else %}{{ img-url }}{% endif %}" class="responsive" alt="{{ img.Title }}" style="background-color: {% include colors_list.html %}; background-image: {% include background.html %};"></a>
                    <div class="actions-h">
                        <!-- AddToAny BEGIN -->
                        {% if book.Download contains "books.google.com" %}
                        <label for="o" class="morel"><i class="fa fa-file-pdf-o"></i></label>
                        {% else %}
                        {% unless book.Download == "" or book.Download == nil %}
                        <a class="morel" href="{{ book.Download }}" target="_blank" download><i class="fa fa-file-pdf-o"></i></a>
                        {% endunless %}
                        {%endif%}
                        {% if book.Library != "" and book.Library != nil%}
                        <a class="morel" href="{{ book.Library }}" target="_blank"><i class="fa fa-book"></i></a>
                        {% endif %}
                        {% if site.zot-item %}
                        <a class="morel" href="{{ site.zot-item }}{{page.key}}" target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        {% endif %}
                    </div>
        {% endif %}
    {% endfor %}
</figure>