<div class="board-members-div" >
    <p class="board-members">Concepto y desarrollo: <a href="https://orcid.org/0000-0001-9866-0223" target="_blank" rel="noopener noreferrer">Eduardo&nbsp;Febres</a>.<br>Consejo asesor: <a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000068848" target="_blank" rel="noopener noreferrer">Luz&nbsp;Marina&nbsp;Rivas</a>, <a href="https://www.instagram.com/cortizeditorial/" target="_blank" rel="noopener noreferrer">Carlos&nbsp;Ortiz&nbsp;Bruzual</a>,
        <a href="https://albion.academia.edu/ElizabethBarrios" target="_blank" rel="noopener noreferrer">Elizabeth&nbsp;Barrios</a>, <a href="https://orcid.org/0000-0002-1683-1728" target="_blank" rel="noopener noreferrer">Fidel&nbsp;Rodríguez&nbsp;Velásquez</a>,
        <a href="https://www.spanport.pitt.edu/people/camila-pulgar-machado" target="_blank" rel="noopener noreferrer">Camila&nbsp;Pulgar&nbsp;Machado</a>, <a href="https://www.instagram.com/inesquinterom/" target="_blank" rel="noopener noreferrer">Inés&nbsp;quintero</a>, <a href="https://www.instagram.com/panahispana/" target="_blank" rel="noopener noreferrer">Eli&nbsp;Bonilla</a>
    </p>
</div>


