  <!--lista 1 -->
        <div class="row">
            <!--LOOP DE LISTA 1-->
            {% assign books_size = site.data.books | where_exp: "book", "book.Language == 'en'"%}
            {% assign books = books_size| sample: 7 %}
            {% for book in books %}
            {% include book-list-base.html %}
            {% endfor %}
            <div class="basis masobras">
                <div class="container">
                    <label for="listas"><img src="{{ site.BASE_PATH }}/assets/img/tema/+obras.png" class="image sombra"></label>
                    <div>
                        {% if books_size.size > 7 %}
                        {% if site.lang == "es" %}
                        {% assign target = "ingles" %}
                        {% include ver-mas.html %}
                        {% else %}
                        {% assign target = "english" %}
                        {% include see-more.html %}
                        {% endif %}
                        {% endif %}
                    </div>
                </div> 
            </div>
        </div>