  <!--lista 1 -->
        <div class="row">
            <!--LOOP DE LISTA 1-->
            {% for criteria in site.data.criterios %}
             <div class="basis">
                <div class="container">
                    <a href="{{ site.BASE_PATH }}/criteria/{{ criteria.filename }}"><img src="{{ site.BASE_PATH }}/assets/img/{{ criteria.img }}" alt="{{ criteria.title }}" class="image sombra criteria">
                    <div></a>
                        <a href="{{ site.BASE_PATH }}/criteria/{{ criteria.filename }}"><div class="text">
                                                    <p class="overlay-text-inside criteria-text">{{ criteria.title }}</p>
                                                    <hr class=".overlay-text-inside">
                                                        <i class="fa fa-eye see-and-download morel"></i>
                                                </div></a>
                    </div>
                </div>
            </div>
            
            {% endfor %}
        
        </div>