 <footer class="default-footer text-center">
        <div class="container">
          <img class="mb-40 footer-logo" src="{{ site.BASE_PATH }}/assets/img/tema/{{ site.img }}" alt="">
          {% if site.lang == "es" %}
          <span class="copy-right dis-blk">Hecho con <a class="morel" href="https://morelrep.github.io">MOREL</a></span>
          {% else %}
          <span class="copy-right dis-blk">Built with <a class="morel" href="https://morelrep.github.io">MOREL</a></span>
          {% endif %}
          <span class="social">
        
                  {% include social-block.html %}                            
                
          </span>
        </div>
      </footer>