<input class="checker" type="checkbox" id="edit" hidden>
<div class="modal edit">
    <div class="obra-dia sombra">
      <div class="ficha-container" style="">
        <div class="ficha-title">
          <h2>Gracias por tu interés en contribuir editando este ítem</h2>
        </div>
        <div class="ficha-extract" style="">
         <p class="morel"> 
            <ul>
              <li>
                <a href="{{ site.zot-item }}{{ page.key }}">Accede aquí si ya tienes cuenta en Zotero y acceso a la biblioteca de BibAV <i class="fa fa-pencil" style="font-size: 1.5rem;" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://www.zotero.org/groups/6350646/bibav" class="morel">Si no tienes cuenta en Zotero, puedes crear una gratuita y solicitar acceso al grupo de BibAV aquí <i class="fa fa-sign-in" style="font-size: 1.5rem;" aria-hidden="true"></i></a>
              </li>
              <li>
                <label for="o" class="morel">Haz click aquí para volver a BibAV <i class="fa fa-window-close-o" style="font-size: 1.5rem;" aria-hidden="true"></i></label> 
              </li>
            </ul>
          </p>
        </div>
        <div class="ficha-metadata">
        </div>
      </div>
      <div class="portada" style="">
        <figure class="img-frame">
      {% for book in site.data.books %}
      {%  if book.Id == page.key %}
            {% assign lores_cover = book.Call_Number %}
            {% assign fullres_cover = lores_cover | replace: 'frontcover&img=1&zoom=1', 'frontcover&img=1&zoom=4' %}
            {% include book-list-url-img.html %}
                    <a href="{{ site.zot-item }}{{page.key}}" target="_blank" download><img src="
                        {% if site.biba != true %}{{ img-url }}{% elsif img.Cover == '' or img.Cover == nil and book.Call_Number != '' %}{{ fullres_cover }}{% else %}{{ img-url }}{% endif %}" class="responsive" alt="{{ img.Title }}" style="background-color: {% include colors_list.html %}; background-image: {% include background.html %};"></a>
          <div class="actions-h">
            <a class="morel" href="{{ site.zot-item }}{{page.key}}" target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a href="https://www.zotero.org/groups/6350646/bibav" target="_blank"><br> <br><i class="fa fa-sign-in" aria-hidden="true"></i></a>
            <label for="edit" class="morel"><i class="fa fa-window-close-o"></i></label>
          </div>
      {% endif %}
      {% endfor %}
        </figure>
      </div>
      <div class="actions-v">
      {% for book in site.data.books %}
      {%  if book.Id == page.key %}
        <a class="morel" href="{{ site.zot-item }}{{page.key}}" target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <br>
        <br>
        <a href="https://www.zotero.org/groups/6350646/bibav" target="_blank"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
        <br>
        <br>
        <label for="edit" class="morel"><i class="fa fa-window-close-o"></i></label>
      {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>