<figure class="img-frame">
         <figcaption style="margin-top: 23%;">
        Títulos en peligro
        </figcaption>
        <figcaption style="margin-top: 34%;">
            Contribuye a salvarlos
        </figcaption>
        <figcaption style="margin-top: 42%;">
            agregando copias de los archivos
        </figcaption>
<figcaption style="margin-top: 50%;">
        y editando sus metadatos&nbsp;&nbsp;<i class="fa fa-pencil" style="font-size: 1.25rem;" aria-hidden="true"></i>
</figcaption>
        <figcaption style="margin-top: 59%;">
            o financiando su recuperación&nbsp;&nbsp;<i class="fa fa-exclamation-triangle" style="font-size: 1rem;" aria-hidden="true"></i>
        </figcaption>
        {% assign book.Title = page.title %}
                    <a href="{{ site.gofundme }}" target="_blank" download><img src="{{site.BASE_PATH}}/assets/empty.png" class="responsive" alt="Títulos en peligro" style="background-color: color-mix(in srgb, var(--color-2) 70%, var(--color-3) 30%); background-image: url({{site.BASE_PATH}}/assets/img/tema/squairy.png);"></a>
                    <div class="actions-h">
                                             
                    </div>
        
</figure>