  <!--lista 1 -->
        <div class="row">
            <!--LOOP DE LISTA 1, idioma venezolano-->
            {% assign books = site.data.books | where_exp: "book", "book.Tags contains tag"%}
            {% for book in books %}
            {% include book-list-base.html %}
            {% endfor %}
            <div class="basis masobras">
                <div class="container">
                    <label for="listas"><img src="{{ site.BASE_PATH }}/assets/img/tema/+obras.png" class="image sombra"></label>
                    <div>
{% comment %}                        {% if site.lang == "es" %}
                        {% assign target = tag %}
                        {% include ver-mas.html %}
                        {% else %}
                        {% assign target = "spanish" %}
                        {% include see-more.html %}
                        {% endif %}
                        {% endif %}{% endcomment %}
                    </div> 
                </div>
            </div>
        </div>