---
layout: default
---
<h1 class="book">{{ page.title }}</h1>
<!-- presentación-->
<div class="obra-dia sombra">
    <div class="ficha-container" style="">
        <div class="ficha-title">
            <h2>
                {% assign tag = page.tag %}
                {% assign ventana_size = site.data.books | where_exp: "book", "book.Tags contains tag"%}
                {{ ventana_size | size }} obras sobre {{ page.tema }}
                    <a class="morel a2a_dd" href="https://www.addtoany.com/share">
                    <i class="fa fa-share-alt" style="padding: 0em 0em;">
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                    </i></a><br>
            </h2>
        </div>
        <div class="ficha-extract" style="">
            <p class="morel">
                {{ content }}
            </p>
        </div>
        <div class="ficha-metadata">
            {% include book-metadata.html %}
        </div>
    </div>
    <div class="portada" style="">
       <figure class="img-frame">
                        {% include img-slide.html %}
                    <div class="actions-h">
                        {% if site.zot-item %}
                        <a class="morel" href="{{ site.zot-item }}{{page.key}}" target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        {% endif %}
                    </div>
        </figure>
    </div>
    <div class="actions-v">
    {% include actions-v.html %}
    </div>
</div>
<!--Obras-->
{% include book-list-tags-main.html %}
<!-- obras en peligro (presentación)-->
<div class="obra-dia sombra">
    <div class="ficha-container" style="">
        <div class="ficha-title">
            <h2>
                Títulos en peligro  sobre {{ page.tema }}
                    <a class="morel a2a_dd" href="https://www.addtoany.com/share">
                    <i class="fa fa-share-alt" style="padding: 0em 0em;">
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                    </i></a><br>
            </h2>
        </div>
        <div class="ficha-extract" style="">
            <p class="morel">
                {{ page.warning | markdownify }}
            </p>
        </div>
        <div class="ficha-metadata">
            {% include book-metadata.html %}
        </div>
    </div>
    <div class="portada" style="">
        {% include actions-h_temp.html %}
    </div>
    <div class="actions-v">
    {% include actions-v.html %}
    </div>
</div>
<!-- obras en peligro (lista) -->
{% include book-list-tags-blocked.html %}

